/* start contact section styles */
.container-fluid-custom {
    background-color: rgb(6, 0, 77);
    color: #fff;
}

.container-fluid-custom .contact {
    margin: 10px 0;
}

.container-fluid-custom .contact span {
    color: #efefef;
    vertical-align: middle;
    padding-left: 15px;
}

.container-fluid-custom .contact span svg {
    vertical-align: top;
}

.container-fluid-custom .social-media {
    margin: 10px 0;
    direction: ltr;
}

.container-fluid-custom .social-media a {
    padding-right: 5px;
}

.container-fluid-custom .social-media a svg {
    vertical-align: middle;
    transition: 0.1s;
}

.container-fluid-custom .social-media a:hover svg {
    fill: #ffa500 !important;
}

/* end contact section styles */