/* start Education Courses section style */
.card {
    text-align: center;
    box-shadow: 0px 0px 10px #00000057;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

.card:hover {
    border-radius: 14px;
    transition: all 0.4s ease 0s;
}

.card .card-image {
    height: 200px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px 4px 14px 14px;
    transition: all 0.4s ease-in-out;
}

.card img {
    height: 200px;
    margin-bottom: 12px;
    border-radius: 4px 4px 14px 14px;
    transition: all 0.4s ease-in-out;
}

.card a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.card .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ff9400;
    padding: 2px 8px;
    transition: 0.2s ease-in-out;
    width: 100%;
    border-bottom: 1px solid;
}

.card p {
    margin-top: 14px;
    font-size: 14px;
    margin-bottom: 12px;
    color: rgb(126 126 126);
    padding: 0px 8px;
}

.card a:last-child {
    color: #ff9400;
    display: inline-block;
    margin-bottom: 20px;
}

.card a:last-child:hover {
    color: rgba(255, 166, 0, 0.699);
    transition: 0.2s;
}

.card:hover.card img {
    border-radius: 14px 14px 14px 14px;
    transform: scale(1.2) rotate(5deg);
    transition: all 0.4s ease 0s;
}

.card:hover .card-image {
    border-radius: 14px;
}

.card .card-title:hover {
    transition: 0.2s;
    background-color: #ffae00da;
    color: #ffffff;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #6c6c6c;
}

.card-footer .card-footer_right {
    display: flex;
    flex-direction: column;
    text-align: right;
    row-gap: 2px;
}

.card-footer .card-footer_right .course-real_price {
    font-size: 12px;
}

.card-footer .card-footer_right .course-real_price .course-real_price-value {
    font-size: 14px;
    padding-left: 5px;
}

.card-footer .card-footer_right .course-sale_price {
    font-size: 12px;
}

.card-footer .card-footer_right .course-sale_price .course-sale_price-value {
    font-size: 14px;
    padding-left: 5px;
}

.card-footer .card-footer_left {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 2px;
}

.card-footer .card-footer_left .course-students .course-students_value {
    font-size: 14px;
}

.card-footer .card-footer_left .course-students svg {
    vertical-align: middle;
}

/* start Education Courses section style */