/* start header navbar section styles */
.nav {
    background-color: #efefef;
    overflow: hidden;
}

.nav a {
    color: #303030;
    padding: 12px 14px;
    text-align: center;
    font-size: 18px;
    float: right;
    height: 56px;
}

.nav a:hover {
    color: #ffa500;
    transition: 0.1s;
}

.nav a.bars-icon {
    display: none;
    padding-left: 0px;
    margin-top: 3px;
}

.nav a.bars-icon svg:hover {
    fill: #ffa500 !important;
}

.nav .brand-logo {
    color: #ffa500;
    margin-top: -6px;
    margin-left: -8px;
}

.nav .logo-parent {
    padding-left: 0px;
    vertical-align: sub;
    transform: scaleX(-1);
}

.nav form {
    display: inline-block;
    width: 270px;
    margin: 10px;
    padding: 4px 0;
    background-color: #ffffff;
    border-radius: 5px;
}


.nav-search {
    width: 230px;
    padding-right: 10px;
    border: 0;
    background-color: transparent;
}

.nav-search:focus {
    outline: none;
}

.nav button {
    border: none;
    color: #ffa500;
    background-color: transparent;
    cursor: pointer;
}

.nav button:hover {
    opacity: 0.6;
}

.nav-account {
    float: left;
}

.nav-account a:hover {
    background-color: #ffa6003d;
    color: #303030;
}

.nav-account a {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 4px 15px;
    margin: 10px 0;
    height: auto;
    font-size: 16px;
}

.nav .user-account {
    float: left;
    display: none;
}

.nav .user-account svg:hover {
    fill: #ffa500 !important;
}

@media screen and (max-width:870px) {
    .nav a:not(:first-child, :last-child) {
        display: none;
    }

    .nav a.bars-icon {
        display: block;
        float: left;
    }

    .nav.responsive {
        position: relative;
    }

    .nav.responsive a.bars-icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: right;
    }

    .nav .user-account {
        display: inline;
        float: left;
        margin-top: 3px;
    }

    .nav.responsive .user-account {
        display: none;
    }

    .nav.responsive form {
        display: none;
    }

    .nav.responsive a:first-child {
        display: none;
    }

    .nav.responsive .bars-icon {
        padding-left: 8px;
    }
}

@media screen and (max-width:480px) {
    .nav-search {
        width: 180px;
    }

    .search-form {
        width: 0 !important;
        background-color: transparent;
    }

    .search-form input {
        display: none;
    }
}

@media screen and (max-width:950px) {
    .nav .user-account {
        display: block;
        float: left;
    }

    .nav .nav-account {
        display: none;
    }
}

/* end header navbar section styles */