/* start user comments section style */
.section3-title {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 60px;
}

.section3-title span {
    font-size: 18px;
    font-weight: 400;
}

.section3-title span::before {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #ffe000;
    display: inline;
    position: absolute;
    top: 15px;
    right: -62px;
}

.section3-title span::after {
    content: "";
    width: 30%;
    height: 3px;
    background-color: #ffe000;
    display: inline;
    position: absolute;
    top: 15px;
    right: 186px;
}

.comments {
    min-height: 300px;
    position: relative;

}

.comments .comments-background1 {
    background: rgb(255, 138, 0);
    background: linear-gradient(90deg, rgba(255, 138, 0, 0.7) 0%, rgba(255, 232, 0, 0.7) 100%);
    width: 100%;
    height: 150px;
}

.comments .comments-background2 {
    background: rgb(255, 138, 0);
    background: linear-gradient(90deg, rgba(255, 138, 0, 0.7) 0%, rgba(255, 232, 0, 0.7) 100%);
    width: 100%;
    height: 20px;
    top: 165px;
}

.comments .comments-background3 {
    background: rgb(255, 138, 0);
    background: linear-gradient(90deg, rgba(255, 138, 0, 0.7) 0%, rgba(255, 232, 0, 0.7) 100%);
    width: 100%;
    height: 7px;
    top: 200px;
}

.comments .comments-background4 {
    background: rgb(255, 138, 0);
    background: linear-gradient(90deg, rgba(255, 138, 0, 0.7) 0%, rgba(255, 232, 0, 0.7) 100%);
    width: 100%;
    height: 20px;
    top: 218px;
}

.comments .comments-background5 {
    background: rgb(255, 138, 0);
    background: linear-gradient(90deg, rgba(255, 138, 0, 0.7) 0%, rgba(255, 232, 0, 0.7) 100%);
    width: 100%;
    height: 50px;
    top: 250px;
}

.comments-header {
    margin-bottom: 8px;
}

.comments .comments-header img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    float: right;
    display: inline;
}

.comments .comments-header p {
    text-align: right;
    margin-right: 55px;
    font-size: 14px;
    color: #444444;
    padding-bottom: 2px;
}

.comments .comments-content p {
    text-align: right;
    font-size: 14px;
    padding: 10px 0px 30px;
    color: #6c6c6c;
    margin-right: 56px;
    width: 85%;
    border-top: 1px solid #ffad00;
    line-height: 28px;
}

.swiper {
    width: 50%;
    height: auto;
    background-color: #f5f5f5;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f5f5f5;
}

@media screen and (max-width:1280px) {
    .comments .swiper {
        width: 70%;
    }
}

@media screen and (max-width:992px) {
    .comments .swiper {
        width: 80%;
    }

    .comments .comments-header img {
        width: 40px;
        height: 40px;
    }

    .comments .comments-content p {
        line-height: 28px;
    }
}

@media screen and (max-width:768px) {
    .comments .swiper {
        width: 90%;
    }

    .comments .comments-header img {
        width: 35px;
        height: 35px;
    }

    .comments .comments-header p {
        font-size: 12px;
    }

    .comments .comments-content p {
        line-height: 28px;
    }
}

@media screen and (max-width:600px) {
    .comments .swiper {
        width: 90%;
    }

    .comments .comments-header img {
        width: 30px;
        height: 30px;
    }

    .comments .comments-content p {
        line-height: 24px;
        font-size: 12px;
        padding-left: 10px;
    }
}

/* end user comments section style */