@import url(_contact.css);
@import url(_nav.css);
@import url(_header.css);
@import url(_courses.css);
@import url(_aboutus.css);
@import url(_user-comments.css);
@import url(_statistics.css);
@import url(_article.css);
@import url(_fa-questions.css);
@import url(_connect-us.css);
@import url(_footer.css);

@font-face {
    font-family: Vazir;
    src: url(../fonts/Vazir-Regular.eot) format(eot);
    src: url(../fonts/Vazir-Regular.woff) format(woff);
    src: url(../fonts/Vazir-Regular.woff2) format(woff2);
}

*,
body {
    font-family: Vazir;
}

.section-title {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 80px;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.section-header_before {
    width: 50px;
    height: 3px;
    background-color: #ffe000;
}

.section-header_title {
    font-size: 18px;
    font-weight: 400;
    padding: 0 15px;
}

.section-header_after {
    width: 50px;
    height: 3px;
    background-color: #ffe000;
}